<h1>You can edit your order here:</h1>

<form method="post" action="/pizza-orders/<%= @order.id %>">

    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" value="<%= @order.first_name %>" name="first_name" />

    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" value="<%= @order.last_name %>" name="last_name"/>

    <label for="pizza-select">Select a pizza:</label>
    <select id="pizza-select" name="topping" value="<%= @order.topping %>">
        <option value="Margherita">Margherita</option>
        <option value="Calzone">Calzone</option>

    </select>

    <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" value="<%= @order.quantity %>" name="quantity"/>

    <input type="submit" value="Update Pizza Order"/>

</form>